---
component: Itemset
---

<article class="b-itemset {{type}} {{position}}">
    <div class="itemset-topic {{type}}">
        <h3 class="itemset-topic-title {{type}}">{{topic}}</h3>
        <div class="itemset-topic-img">
            <div class="b-media is-square">
                <img src="{{img}}" class="media-img" alt="{{alt}}">
            </div>
        </div>
    </div>
    <ul class="itemset-list {{angle}}">
        {{#each items}}
            <li class="itemset-list-item {{type}}">
                <div class="itemset-list-item-inner">
                    <div class="itemset-list-item-img {{angle}}">
                        <div class="b-media is-square is-fade-out">
                            <img src="{{img}}" class="media-img" alt="{{alt}}">
                        </div>
                    </div>
                    <div class="itemset-list-item-texbox {{angle}}">
                        <div class="itemset-list-item-textbox-inner">
                            <h4 class="itemset-list-item-title">{{title}}</h4>
                            <p class="itemset-list-item-text {{type}} {{position}}">{{text}}</p>
                        </div>
                    </div>
                </div>
            </li>
        {{/each}}
    </ul>
</article>
